/* =================
CSS for printing
================= */

@media print {
    @page {
      size: 8.5in 11in;
      margin: 1cm;
    }
    body {
      color: #000;
      background: #fff;
    }
    h1 {
      font-family: 'Patrick Hand', cursive;
      margin-top: 0px;
      margin-left: 80px;
      margin-bottom: 0px;
      font-size: 48px;
    }

    #print-header {
      align-items: center;
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .print-square {
      float: left;
      column-count: 5;
      /* padding: 25px; */
      width: 150px;
      height: 150px;
      background-color: #F2F4F4;
      /* display: table-cell; */
    }

    #print-container {
      display: inline-flex;
      flex-wrap: wrap;
    }

}

/* =================
CSS for Screen
================= */

@media screen {
    @page {
      size: 8.5in 11in;
      margin: 1cm;
    }
    body {
      color: #000;
      background: #fff;
    }
    h1 {
      font-family: 'Patrick Hand', cursive;
      margin-top: 0px;
      margin-left: 80px;
      margin-bottom: 0px;
      font-size: 48px;
    }

    #print-header {
      align-items: center;
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .print-square {
      float: left;
      column-count: 5;
      /* padding: 25px; */
      width: 150px;
      height: 150px;
      background-color: #F2F4F4;
      /* display: table-cell; */
    }

    #print-container {
      display: inline-flex;
      flex-wrap: wrap;
    }

}
